<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file upload</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        </style>
    
</head>
<body style="background-color:powderblue;">
    
    <h1>Custom File Upload <span>Woldia university</span></h1>

    <div class="custom-file-upload">
        <!--<label for="file">File: </label>--> 
        <input type="file" id="file" name="myfiles[]" multiple />
    </div>  
</body>
</html>